<footer>
   <div class="icons">
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-linkedin-in"></i>
</div> 
    <p>&copy; AirBnb Presents</p>
    <a href="#">Privacy</a>
    <a href="#">Terms</a>
</footer>